.table-head{
    border: 1px solid black;
}

.table-container {
    width: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    text-align: center;
}