.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-search {
    width: 200px;
    font-size: 15px;
    padding-top: 2px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
}